@require '../../node_modules/rupture/rupture/index.styl'

rupture.scale = 0 640px 960px 1280px 1600px 1920px
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl' 'ml'
rupture.anti-overlap = -1px
$scale-names = rupture.scale-names

$ptr = 'PT Rouble Sans', sans-serif

$baseFontColor = #373737
$baseLinkColor = #000000

$imgHref = '/assets/images/'
$imgPath = '../../assets/images/'

$horizontalPadding = 20px 40px 80px 100px 100px 100px

$grey = #d0d0d0
$dirtyblue = #b4ccdc
$linkhover = #053b5d
$lightgrey = #e2e2e2
$blue = #057dd1

