@require "../../vendor/normalize.css"
@require "../../vendor/fancybox-3.2.10/jquery.fancybox.css"
@require "../../vendor/OwlCarousel2-2.2.1/assets/owl.carousel.css"
@require "../../vendor/perfect-scrollbar-1.4.0/perfect-scrollbar.css"
@require "../../vendor/lightgallery/lg-transitions.css"
@require "../../vendor/lightgallery/lightgallery.css"
@require "../../vendor/lightslider/dist/css/lightslider.min.css"
