
   .icon.icon-3d {
         width: 1em;
         height: 1em;
     }

   .icon.icon-3d-block {
         width: 0.75em;
         height: 0.75em;
     }

   .icon.icon-3d-printing {
         width: 15.5em;
         height: 15.5em;
     }

   .icon.icon-access-control {
         width: 16em;
         height: 16em;
     }

   .icon.icon-additional {
         width: 15em;
         height: 15em;
     }

   .icon.icon-adv-bg {
         width: 3.125em;
         height: 3.1875em;
     }

   .icon.icon-analytics {
         width: 14.96875em;
         height: 14.96875em;
     }

   .icon.icon-arrow {
         width: 0.2875em;
         height: 0.53125em;
     }

   .icon.icon-arrow-bottom {
         width: 0.53125em;
         height: 0.2875em;
     }

   .icon.icon-arrow-top {
         width: 0.53125em;
         height: 0.2875em;
     }

   .icon.icon-attach {
         width: 16em;
         height: 16em;
     }

   .icon.icon-barrier {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-barrier-new {
         width: 1.5625em;
         height: 1.125em;
     }

   .icon.icon-barrier1 {
         width: 14.803125em;
         height: 14.803125em;
     }

   .icon.icon-box {
         width: 16em;
         height: 16em;
     }

   .icon.icon-brochure {
         width: 13.8125em;
         height: 13.8125em;
     }

   .icon.icon-calendar {
         width: 0.375em;
         height: 0.375em;
     }

   .icon.icon-call {
         width: 0.96875em;
         height: 0.96875em;
     }

   .icon.icon-call-answer {
         width: 10.87740625em;
         height: 10.87740625em;
     }

   .icon.icon-cell-phone {
         width: 0.8575625em;
         height: 0.8575625em;
     }

   .icon.icon-cells {
         width: 0.6875em;
         height: 0.6875em;
     }

   .icon.icon-chip {
         width: 16.0000625em;
         height: 16.0000625em;
     }

   .icon.icon-clock {
         width: 11.655em;
         height: 11.655em;
     }

   .icon.icon-controllers {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-controls {
         width: 1.875em;
         height: 1.875em;
     }

   .icon.icon-cube {
         width: 1em;
         height: 1em;
     }

   .icon.icon-customer-support {
         width: 17.78125em;
         height: 17.78125em;
     }

   .icon.icon-data {
         width: 15.96875em;
         height: 15.96875em;
     }

   .icon.icon-deal {
         width: 1.875em;
         height: 1.875em;
     }

   .icon.icon-delivery-truck {
         width: 1.96875em;
         height: 1.96875em;
     }

   .icon.icon-document {
         width: 15.5em;
         height: 15.5em;
     }

   .icon.icon-draft-block {
         width: 0.6875em;
         height: 0.6875em;
     }

   .icon.icon-email {
         width: 16em;
         height: 16em;
     }

   .icon.icon-envelope {
         width: 15.9883125em;
         height: 15.9883125em;
     }

   .icon.icon-fencing {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-file {
         width: 1.875em;
         height: 1.875em;
     }

   .icon.icon-fingerprint-scan {
         width: 16em;
         height: 16em;
     }

   .icon.icon-free-delivery {
         width: 16em;
         height: 16em;
     }

   .icon.icon-gear {
         width: 0.96875em;
         height: 0.96875em;
     }

   .icon.icon-guarantee {
         width: 1.6875em;
         height: 1.6875em;
     }

   .icon.icon-id-card {
         width: 14.28125em;
         height: 14.28125em;
     }

   .icon.icon-idcard {
         width: 1em;
         height: 1em;
     }

   .icon.icon-inbox {
         width: 16em;
         height: 16em;
     }

   .icon.icon-item-guarantee {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-item-guaranteee {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-item-plata {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-item-po {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-item-turnstile {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-item-wireless {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-jigsaw {
         width: 15.228625em;
         height: 15.228625em;
     }

   .icon.icon-jigsaw-new {
         width: 0.9375em;
         height: 0.9375em;
     }

   .icon.icon-job {
         width: 16em;
         height: 16em;
     }

   .icon.icon-key {
         width: 9.28778125em;
         height: 9.28778125em;
     }

   .icon.icon-key-card {
         width: 26.5em;
         height: 26.5em;
     }

   .icon.icon-laptop {
         width: 15.5em;
         height: 15.5em;
     }

   .icon.icon-licensing {
         width: 20em;
         height: 20em;
     }

   .icon.icon-lightning {
         width: 0.40625em;
         height: 0.53125em;
     }

   .icon.icon-lock {
         width: 1.125em;
         height: 1.125em;
     }

   .icon.icon-locked-padlock {
         width: 15.21040625em;
         height: 15.21040625em;
     }

   .icon.icon-logo-part {
         width: 6.78125em;
         height: 9.03125em;
     }

   .icon.icon-lupa {
         width: 3.5625em;
         height: 3.5625em;
     }

   .icon.icon-manufacture {
         width: 20.65625em;
         height: 20.65625em;
     }

   .icon.icon-map-marker {
         width: 3.05353125em;
         height: 3.05353125em;
     }

   .icon.icon-marker-map {
         width: 0.75em;
         height: 0.75em;
     }

   .icon.icon-motherboard {
         width: 0.3125em;
         height: 0.3125em;
     }

   .icon.icon-n {
         width: 0.3125em;
         height: 0.3125em;
     }

   .icon.icon-network {
         width: 16em;
         height: 16em;
     }

   .icon.icon-partner {
         width: 16em;
         height: 16em;
     }

   .icon.icon-pdf {
         width: 16em;
         height: 16em;
     }

   .icon.icon-pdf2 {
         width: 1.125em;
         height: 1.125em;
     }

   .icon.icon-phone-circle {
         width: 18.065625em;
         height: 18.065625em;
     }

   .icon.icon-phone-ringing {
         width: 0.75em;
         height: 0.75em;
     }

   .icon.icon-photo-block {
         width: 0.75em;
         height: 0.59375em;
     }

   .icon.icon-plan {
         width: 16em;
         height: 16em;
     }

   .icon.icon-play-button {
         width: 10.9375em;
         height: 10.9375em;
     }

   .icon.icon-policy {
         width: 15.4375em;
         height: 15.4375em;
     }

   .icon.icon-production {
         width: 1.78125em;
         height: 1.78125em;
     }

   .icon.icon-prog-window {
         width: 16em;
         height: 16em;
     }

   .icon.icon-progma {
         width: 29.28125em;
         height: 29.28125em;
     }

   .icon.icon-puzzle {
         width: 0.5em;
         height: 0.5em;
     }

   .icon.icon-rating {
         width: 15.99996875em;
         height: 15.99996875em;
     }

   .icon.icon-rfid {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-rom {
         width: 16em;
         height: 16em;
     }

   .icon.icon-rounded-plus {
         width: 1.03125em;
         height: 1.03125em;
     }

   .icon.icon-s-ad {
         width: 2.45em;
         height: 2.45em;
     }

   .icon.icon-s-barriers {
         width: 2.45em;
         height: 2.45em;
     }

   .icon.icon-s-construct {
         width: 2.45em;
         height: 2.45em;
     }

   .icon.icon-s-controllers {
         width: 2.45em;
         height: 2.45em;
     }

   .icon.icon-s-installer {
         width: 2.45em;
         height: 2.45em;
     }

   .icon.icon-s-master {
         width: 2.45em;
         height: 2.45em;
     }

   .icon.icon-s-soft {
         width: 2.45em;
         height: 2.45em;
     }

   .icon.icon-s-turnstile {
         width: 2.45em;
         height: 2.45em;
     }

   .icon.icon-search {
         width: 7.82228125em;
         height: 7.82228125em;
     }

   .icon.icon-security-on {
         width: 0.375em;
         height: 0.375em;
     }

   .icon.icon-select {
         width: 20em;
         height: 20em;
     }

   .icon.icon-settings {
         width: 0.53125em;
         height: 0.53125em;
     }

   .icon.icon-software {
         width: 0.96875em;
         height: 0.96875em;
     }

   .icon.icon-speedometer {
         width: 0.5625em;
         height: 0.5625em;
     }

   .icon.icon-staff {
         width: 19.0625em;
         height: 19.0625em;
     }

   .icon.icon-team {
         width: 15.5em;
         height: 15.5em;
     }

   .icon.icon-team-new {
         width: 0.875em;
         height: 0.875em;
     }

   .icon.icon-trolley {
         width: 1em;
         height: 1em;
     }

   .icon.icon-turnstile {
         width: 9.375em;
         height: 9.375em;
     }

   .icon.icon-turnstile-new {
         width: 0.71875em;
         height: 1.125em;
     }

   .icon.icon-turnstile-sm {
         width: 0.40625em;
         height: 0.40625em;
     }

   .icon.icon-turnstile1 {
         width: 0.40625em;
         height: 0.40625em;
     }

   .icon.icon-video-block {
         width: 0.6875em;
         height: 0.6875em;
     }

   .icon.icon-video-player {
         width: 1.71875em;
         height: 1.71875em;
     }

   .icon.icon-website-optimization {
         width: 0.375em;
         height: 0.375em;
     }

   .icon.icon-worldwide {
         width: 0.6875em;
         height: 0.6875em;
     }
