.cooperation
	&__cats
		display flex 
		margin-top 40px
		+below(xs)
			flex-direction column
	&__intro-text
		font-weight 500
	&__tabs
		padding 25px
		background-color #eaeae8
		width 400px
		margin-right 20px
		flex-shrink 0
		+below(md)
			width 250px
			margin-right 5px
		+below(sm)
			padding 10px
		+below(xs)
			width 100%
		
	&__body
		padding 25px
		background-color #fff
		box-shadow 0 0 2px 0px rgba(0, 0, 0, .1)
		+below(sm)
			padding 10px
	&__item
		font-size 12px 
		font-weight 500
		display none
		+above(lg)
			font-size 14px
		h4:first-child
			margin-top 0
		p 
			font-weight 500
		ul
			list-style-type none
			margin-left 0
			li 
				display flex
				align-items center
				font-weight 500
				&:before
					content ''
					width 10px
					height 10px
					border-radius 50%
					background-color #b4ccdc
					flex-shrink 0
					flex-basis 10px
					margin-right 10px
					
	&__tabs-title
		font-size 24px
		+below(md)
			font-size 20px
	&__tabs-list
		margin-left 0
		padding-top 20px 
		padding-bottom 20px 
		+below(sm)	
			padding 0
	&__tab
		list-style-type none
		&:not(:last-child)
			margin-bottom 10px
		a
			padding 15px 45px
			display flex 
			align-items center
			margin-left -25px 
			margin-right -45px
			text-decoration none
			+below(md)
				padding 10px 25px
			+below(sm)
				margin-left -10px
				margin-right -25px
			+below(xs)
				margin-right -10px
			&.active-tab
				background-color white
				box-shadow 0 0 2px 0px rgba(0, 0, 0, .1)
				font-weight 500
				&:hover
					color currentColor
			svg 
				height 30px 
				width 30px
				flex-shrink 0
				margin-right 10px
	&__tabs-title
		margin-top 0

.coop-form	
	padding-top 0
	&__row
		display flex
		justify-content space-between
		flex-wrap wrap
	&__col
		width 49%
		+below(xs)
			width 100%
	&__title
		margin-top 0
	textarea
		height 100%
	input
		&:not(:last-child)
			margin-bottom 25px
			+below(xs)
				margin-bottom 15px
		+below(xs)
			margin-bottom 15px
	&__form
		text-align right 
	button 
		margin-top 25px
		