.icon
	display inline-block
	font-style normal
	font-size 24px
	fill $baseFontColor
	color $baseFontColor
	
	transition all .2s ease-in-out


.green-icon
	fill #0b9f24
	color #0b9f24
	
	
.blue-icon 
	fill #0376ac
	color #0376ac
	
	
.orange-icon
	fill #fe9a0a
	color #fe9a0a
	
	
.purple-icon
	fill #a363ac
	color #a363ac
	

.lightblue-icon	
	fill #0b7ece
	color #0b7ece
	
	
.yellow-icon
	fill #eec60e
	color #eec60e
	

.red-icon	
	fill #e55e55
	color #e55e55
	
	
.sea-icon
	fill #22b14c!important
	color #22b14c!important
	
	
.dirtyblue-icon
	fill #00a2e8!important
	color #00a2e8!important
	
	
.salad-icon
	fill #b5e61d!important
	color #b5e61d!important