$spec-icon = #1D68D9

.items
	&__list
		display flex 
		flex-wrap wrap
		margin 0
		justify-content space-between
		+below(md)
			justify-content flex-start
		.owl-dots
			text-align center
			margin-right 15px
		.owl-dot
			display inline-block
			width 8px
			height 8px
			border-radius 4px
			border 2px solid #6f6f6f
			background-color #6f6f6f
			margin 5px 
			&.active
				border-color #057dd1
				background-color transparent
		.item1
			width calc(50% - 30px)
			height auto
			display flex
			flex-direction column
			align-items flex-start
			font-family 'GothamProRegular'
			border 1px solid rgba(229, 229, 229, .5)
			+below(md)
				width 100%
			&:not(:last-child)
				margin-right 20px
				+below(md)
					margin-right 0
			&__header
				font-weight 500
				font-size 17px
				width 90%
				margin-bottom 28px
				text-transform uppercase
				+below(lg)
					font-size 14px
					width 100%
				+below(sm)
					order -1
			&__price
				font-size 26px
				display flex 
				align-items center
				lign-height 1em
				span
					margin-left 5px 
				+below(lg)
					font-size 20px 
			&__top
				display flex 
				flex-direction column
				align-items center
				margin-left auto 
				margin-right 15%
				z-index 2
			&__describe
				display flex
				align-items flex-start
				flex-direction column
			&__pic
				width 240px
				flex-shrink 0
				margin-right 40px
				+below(lg)
					width 200px
				+below(md)
					width 170px
				+below(sm)
					margin-bottom 20px
					width 100%
				img 
					max-height 100%
					max-width 100%
					height auto
					width auto
					transform scale(-1, 1)
			&__about 
				margin-top 10px 
				margin-bottom 30px
			&__text
				font-weight 300 
				font-size 14px 
				color #686868
				+below(lg)
					font-size 12px 
			&__info
				padding 40px 70px
				display flex
				+below(lg)
					padding 30px 50px
				+below(md)	
					padding 20px 35px
				+below(sm)
					flex-direction column
			&__specs
				width 100%
				align-self flex-end
				border-top 1px solid rgba(229, 229, 229, .5)
				padding 40px 70px
				background-color rgba(229, 229, 229, .12)
				+below(lg)
					padding 30px 50px
				+below(md)
					padding 20px 35px
				+below(xs)
					width 100%
				.specs__list
					display flex
					flex-wrap wrap
					justify-content space-between
					list-style-type none
					margin 0
					.spec
						width 48%
						font-size 14px
						display flex
						height auto
						align-items center
						color #686868
						+below(lg)
							font-size 12px
						+below(sm)
							width 100%
						&__icon 
							width 26px 
							height 26px
							margin-right 10px
							flex-shrink 0
							border 2px solid $spec-icon
							border-radius 50%
							display flex
							align-items center
							justify-content center
							svg 
								width 14px
								height 14px
								fill $spec-icon

.green-icon
	svg
		fill #0e9615
.purple-icon
	svg
		fill #7b1ca8
.blue-icon
	svg
		fill #0b7ece
		
.orange-icon
	svg 
		fill #ff7200

.yellow-icon 
	svg 
		fill #eec60e
		
.red-icon
	svg 
		fill #e35f5f

